@media screen and (min-width: 426px) and (max-width: 768px) {
    body {
        font-size: 11px;
    }

    .nav-pills.card-header-tabs {
        flex-direction: column;
    }

    .phone-link {
        display: none;
    }

    .phone-display {
        display: block;
    }
}